@charset "utf-8";
/*这个是导航部分的代码,在上面的那个要加上分号,否则会出错*/
.logo {
  padding:0;
}
.navbar-ul {
  margin-top:0px;
}

/*这个是轮播器的部分*/
#myCarousel {
 margin:130px auto;
}
.carousel-inner .item img {
 margin:0px auto;
}

/*这个是轮播图左边表格的部分*/
#HL_banner_list {
  margin:130px auto;
}

这个是课程里面写列表的部分
#HL_course_1 {
  width:300px;
  height:300px;
  position:absolute;
  top:0px;
  left:210px;
  z-index:90;
}






/*轮播器下面的内容*/
.tab1 {
  margin:30px auto;
  color:#666;
}
.tab-h2 {
 font-size:20px;
 color:#0059b2;	
 text-align:center;
 letter-spacing:1px;
}
.tab-p {
	font-size:15px;
	color:#999;
	text-align:center;
	letter-spacing:1px;
	margin:20px 0 40px 0;
}
.tab1 .text-muted {
  color:#999;
  text-decoration:line-through;
}
.tab1 .media-heading {
  margin:5px 0 20px 0;
}
.tab1 .col {
  padding:20px;
}


/*这个是WEB前端的部分*/
#HL_WEB {
  margin:80px auto;
  color:#666;
}

#HL_WEB img:hover {
  cursor: pointer;
}

.HL_WEB_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}

/*这个是Java的部分*/
#HL_JAVA {
  margin:130px auto;
  color:#666;
}

#HL_JAVA img:hover {
  cursor: pointer;
}

.HL_JAVA_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}

/*这个是移动的开发*/
#HL_move {
  margin:130px auto;
  color:#666;
}

#HL_move img:hover {
  cursor: pointer;
}

.HL_move_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}

/*这个是数据库的部分*/
#HL_database {
  margin:130px auto;
  color:#666;
}

#HL_database img:hover {
  cursor: pointer;
}

.HL_database_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}

/*这个是UI设计的部分*/
#HL_UI {
  margin:130px auto;
  color:#666;
}

#HL_UI img:hover {
  cursor: pointer;
}

.HL_UI_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}


/*这个是运维测试的部分*/
#HL_Junit {
  margin:130px auto;
  color:#666;
}

#HL_Junit img:hover {
  cursor: pointer;
}

.HL_Junit_h2 {
 font-size:20px;
 color:#0059b2; 
 text-align:center;
 letter-spacing:1px;
 margin-bottom: 50px;
}




/*当BootStrap3版本是,因为默认是移动端,所以在前面的tab-h2的大小就要设置为20px
,tab-p设置为15px,就是这个效果*/
/*小屏幕(平板电脑,大于768)*/
@media (min-width: 768px) {
  .tab-h2 {
  	font-size:26px;
  }

  /*这个是写到HL_WEB的那个样式*/
 .HL_WEB_h2 {
  font-size:26px;
 }

  /*这个是写HL_JAVA的部分*/
 .HL_JAVA_h2 {
  font-size:26px;
 }
 
  /*这个是移动开发的部分*/
  
  .HL_move_h2 {
  font-size:26px;
 }

  /*这个是数据库的部分*/
   .HL_database_h2 {
  font-size:26px;
   }

  /*这个是UI的部分*/
   .HL_UI_h2 {
  font-size:26px;
   }

  /*这个是运维测试的部分*/
   .HL_Junit_h2 {
  font-size:26px;
   }


  .tab-p {
  	font-size:16px;
  }
  .text h3{
  	font-size:22px;
  }
  .text p {
  	font-size:16px;
  	color:#666;
  }
  /*这个是让大屏幕的tab2布局的图片显示在右边,因为在html那边是下你默认移动端,写大于这一个就可以了*/
.tab2-img {
	float:right;
}
.tab2-text {
	float:left;
}



}

/*中等屏幕,桌面显示器大于992*/
@media (min-width: 992px){
  .tab-h2 {
  	font-size:28px;
  }
  .tab-p {
   font-size:17px;
  }
   .text h3{
  	font-size:24px;
  }
  .text p {
  	font-size:17px;
  	color:#666;
  }
  
  /*这个是写到文件HL_WEB的那个样式*/
 .HL_WEB_h2 {
  font-size:28px;
 }

  /*这个是写科目HL_JAVA的部分*/
 .HL_JAVA_h2 {
  font-size:28px;
 }

   /*这个是移动开发的部分*/
  
  .HL_move_h2 {
  font-size:28px;
 }

  /*这个是数据库的部分*/
   .HL_database_h2 {
  font-size:28px;
   }

  /*这个是UI的部分*/
   .HL_UI_h2 {
  font-size:28px;
   }

  /*这个是运维测试的部分*/
   .HL_Junit_h2 {
  font-size:28px;
   }

}

/*大屏幕,大屏幕显示器,大于1200*/
@media (min-width: 1200px){
 .tab-h2 {
 	font-size:30px;
 }


 .tab-p {
 	font-size:18px;
 }
  .text h3{
  	font-size:26px;
  }
  .text p {
  	font-size:18px;
  	color:#666;
  }

  /*这个是写到文件HL_WEB的那个样式*/
 .HL_WEB_h2 {
  font-size:30px;
 }

 /*这个是写科目HL_JAVA的部分*/
 .HL_JAVA_h2 {
  font-size:30px;
 }

  /*这个是移动开发的部分*/
  
  .HL_move_h2 {
  font-size:30px;
 }

  /*这个是数据库的部分*/
   .HL_database_h2 {
  font-size:30px;
   }

  /*这个是UI的部分*/
   .HL_UI_h2 {
  font-size:30px;
   }

  /*这个是运维测试的部分*/
   .HL_Junit_h2 {
  font-size:30px;
   }

}

/*这个是taab2的部分*/
.tab2 {
 text-align:center;
 padding:60px 20px;
}
.tab2 img {
	width:60%;
	height:60%;
}

.tab3 {
 text-align:center;
 padding:60px 20px;
}
.tab3 img {
	width:60%;
	height:60%;
}
/*这个是在tab2和tab3中都设置有text属性,可以方便一起来设置值*/
.text h3 {
	font-size:20px;
}
.text p {
	font-size:15px;
	color:#666;
}



/*这个是页脚的部分,响应式布局一般不写高度,应为会自动有高度,宽度也一般不用设置*/
#footer {
 color:#999;
 text-align:center;
 padding:20px;
}




